.customCheckbox:checked ~ .checkboxContainer {
    justify-content: flex-start;
}

.customCheckbox ~ .checkboxContainer .checkboxContentGreen{
    display: none;
}
.customCheckbox:checked ~ .checkboxContainer .checkboxContentGreen{
    display: block;
}


.customCheckbox ~ .checkboxContainer .checkboxContentTransparent{
    display: block;
}
.customCheckbox:checked ~ .checkboxContainer .checkboxContentTransparent{
    display: none;
}