
.navbar-container {
    position: relative;
    width: 100%;
    height: 80px;
    background: 'white';

    @media only screen and (max-width: 860px) {
        height: 90px;
    }
    
}

@media (max-width: 720px) {
    .navbar-subcontainer {
      width: 100% !important;
    }
}